$nt-green: #26B8AE;
// $nt-bg-grey: #E8E8E8;
$nt-bg-grey: #F3F3F3;
$nt-inset-grey: #E6E6E6; //rgb 230x3
$nt-yellow: #E3C511;
$nt-grey: #B0B0B0;

$nt-text-ltgrey: #C8C8C8; //rgb 200x3
$nt-text-mdgrey: #A9A9A9; //rgb 169x3
$nt-text-dkgrey: #7A7A7A;

$portrait-dim: 5em;
$portrait-border-width: 0.1em;
$portrait-frame-width: 0.3em;
$portrait-border-color: #ccc;

$severity-yellow: #EECE34;
$severity-grey: #D0D1D2;
$severity-dim: 0.6em;

@mixin radius($amount){
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin nt-inset {
  background-color: white;
  @include radius(0.25em);
}

@mixin shadow($amount){
  -webkit-box-shadow: $amount;
  -moz-box-shadow: $amount;
  -o-box-shadow: $amount;
  box-shadow: $amount;
}

body {
  padding-top: 4em !important;
  background-color: $nt-bg-grey !important;
}
.container {
  h4, h6 {
  color: $nt-grey;
  }
}

.characteristic {
  color: $nt-green;
  font-weight: bold;
}
#quickbox {
  @include nt-inset;
  padding: 0.5em 0;

  p {
    margin-bottom: 0.25em;
  }
  h2{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: $nt-green;
  }
  hr {
    margin: 0.5em 0;
  }
}
.portrait-frame {
  padding: $portrait-frame-width;
  width: $portrait-dim + 2*$portrait-frame-width+$portrait-border-width;
  height: $portrait-dim + 2*$portrait-frame-width+$portrait-border-width;
  @include radius(50%);
  background: whitesmoke;
  border: $portrait-border-width solid $portrait-border-color;
}
.portrait {
  @include radius(50%);
  width: $portrait-dim;
  height: $portrait-dim;
  background: white;
  border: $portrait-border-width solid $portrait-border-color;
}

.severity-dot {
  @include radius(50%);
  @include shadow($severity-dim * -0.07 $severity-dim * -0.07 $severity-dim / 10 #333);
  background: $severity-grey;
  width: $severity-dim;
  height: $severity-dim;
  display: inline-block;
  &.filled {
    background: $severity-yellow;
  }
  margin-left: 0.2em;
}

.inset-counter {
  @include radius(0.4em);
  font-size: 0.8em;
  font-weight: bold;
  color: $nt-text-dkgrey;
  background: $nt-inset-grey;
  padding: 0.2em 0.9em;
  text-align: center;
  display: inline-block;
  border-top: 2px solid rgb(192, 192, 192);
}

hr {
  border-top: 2px solid $nt-inset-grey !important;
}

#left-col {
  color: $nt-text-dkgrey;
  h5 {
    color: $nt-text-dkgrey;
  }
  .reminder {
    font-size: smaller;
    color: $nt-text-ltgrey;
  }
}
.sev-dots {
  text-align: right;
  padding-left: 0 !important;
}
.sev-desc {
  text-align: right;
}
#allergies, #contacts {
  li.row {
    margin-bottom: 1em;
  }
  .col-md-9 {
    padding-right: 0;
    padding-left: 0.25em;
  }
  .col-md-3 {
    padding-right: 0;
  }
  .glyphicon-triangle-bottom {
    margin-left: 0.2em;
  }
  h5 {
    margin: 0.2em 0;
  }
  hr {
    margin: 0.5em 0;
  }
}